<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Baton Rouge DSA" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="flex justify-center items-center text-center p-6" style="background-color: #E71E24">
    <header>
      <img
        src="<%= Routes.static_path(@conn, "/images/dsa-animated.gif") %>"
        alt="An animated version of the DSA logo: two clasped hands and a rose"
      />
      <h1 class="text-4xl font-display font-black text-dsaBlack mb-4">Baton Rouge DSA</h1>
      <h2 class="text-xl font-display font-semibold text-dsaRed-tint4">A Better World Is Possible</h2>
    </header>
    <%= @inner_content %>
  </body>
</html>
